/* =============================================================================
*
* Waybar configuration
*
* Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
*
* =========================================================================== */

/* -----------------------------------------------------------------------------
* Keyframes
* -------------------------------------------------------------------------- */

@keyframes gray-background-pulse{
0% {
    box-shadow: 0 0 1px #857772 inset;
    border-color: #857772;
    background: rgba(6, 6, 6, 0.75);
}
50% {
    box-shadow: 0 0 2px #857772 inset;
    border-color: #CDC2B4;
    background: rgba(84, 76, 74, 0.9);
}
100% {
    box-shadow: 0 0 1px #857772 inset;
    border-color: #857772;
    background: rgba(6, 6, 6, 0.75);
}
}

@keyframes blink {
to {
    /* color: #4c566a; */
    background-color: #eceff4;
}
}


/* Red-shadowPulse: #9a262f */
@keyframes red-shadowPulse {
0% { }
100% {
    box-shadow: 0 0 8px #9a262f inset;
}
50% {
    box-shadow: 0 0 8px 4px #9a262f inset;
}
}

/* Maroon: #581818 */
@keyframes maroon-shadowPulse {
0% { }
100% {
    box-shadow: 0 0 8px #581818 inset;
}
50% {
    box-shadow: 0 0 8px 4px #581818 inset;
}
}

/* Yellow: #ffe08e */
@keyframes yellow-shadowPulse {
0% { }
100% {
    box-shadow: 0 0 8px #ffe08e inset;
}
50% {
    box-shadow: 0 0 8px 4px #ffe08e inset;
}
}

/* Orange: #f9b58e */
@keyframes orange-shadowPulse {
0% { }
100% {
    box-shadow: 0 0 8px #f9b58e inset;
}
50% {
    box-shadow: 0 0 8px 4px #f9b58e inset;
}
}

/* Brown: #8f5226 */
@keyframes brown-shadowPulse {
0% { }
100% {
    box-shadow: 0 0 8px #8f5226 inset;
}
50% {
    box-shadow: 0 0 8px 4px #8f5226 inset;
}
}

/* Purple: #874b7e */
@keyframes purple-shadowPulse {
0% { }
100% {
    box-shadow: 0 0 8px #874b7e inset;
}
50% {
    box-shadow: 0 0 8px 4px #874b7e inset;
}
}

@keyframes shadowPulse {
0% { }
100% {
    box-shadow: 0 0 8px #EAE9E7 inset;
}
50% {
    box-shadow: 0 0 8px 4px #CDC2B4 inset;
}
}

/*
* Mind of Christ Theme Colors
Background Colors:
Deep Black: #060606 (near black)
Dark Gray: #443D3B (warm dark gray)
Mid Gray: #5B5A59 (neutral gray)

Accent Colors:
Warm Gray: #857772 (warm mid-tone)
Sepia: #968977 (warm light brown)

Text/Foreground Colors:
Light Gray: #A09F9E (neutral light gray)
Warm White: #CDC2B4 (warm off-white)
Pure White: #EAE9E7 (near white)

Theme Highlight Colors:
Red: #9a262f
Maroon: #581818
Yellow: #ffe08e
Orange: #f9b58e
Brown: #8f5226
Purple: #874b7e

*/

/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/

/* -----------------------------------------------------------------------------
* Base styles
* -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    color: #CDC2B4;
    font-family: Symbols Nerd Font Mono;
    font-size: 15px;
    transition: all 0.3s ease;
}

window#waybar {
    background: transparent;
}

#workspaces button {
    padding: 2px 8px;
    margin: 4px;
    color: #A09F9E;
    background: rgba(6, 6, 6, 0.75);
    border: 2px solid #5B5A59;
    border-radius: 50px;
    min-width: 30px;
}

#workspaces button.visible {
    border-color: #CDC2B4;
}

#workspaces button.active {
    border-color: #FFFFFF;
    box-shadow: 0 0 8px #857772 inset;
}

/* TODO: watch for fix to special workspaces to add active/visible styles */
/* #workspaces button.special {
border-color: #968977;
box-shadow: 0 0 4px #857772 inset;
background: rgba(84, 76, 74, 0.9);
} */

#workspaces button.urgent {
    border-color: #857772;
    animation: gray-background-pulse 1.5s infinite ease-in-out;
}

#clock, #battery, #cpu, #memory, #idle_inhibitor, #temperature,
#custom-keyboard-shortcuts, #backlight, #network, #pulseaudio,
#window, #custom-launcher, #custom-power, #custom-updates,
#custom-network_traffic, #custom-weather, #mpris, #keyboard-state, #upower, #submap {
    background: rgba(6, 6, 6, 0.75);
    padding: 2px 8px;
    margin: 4px;
    border: 2px solid #443D3B;
    border-radius: 50px;
}


/* -----------------------------------------------------------------------------
* Module styles
* -------------------------------------------------------------------------- */

/* =================
* Left styles
* */
#custom-launcher{
    font-size: 20px;
    background-image: url('/home/patrick/.config/waybar/launcher.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-style: hidden;
}

/* =================
* middle styles
* */
#window{
    border-style: hidden;
    margin-top:1px;
}
#submap.resize {
    color: #EAE9E7; 
    border-color: #874b7e;
    box-shadow: 0 0 8px #874b7e inset;
    animation: purple-shadowPulse 1.5s infinite;
}
#network.disabled {
    color:#581818;
}

#network {
    /* color:#a3be8c; */
}

#network.disconnected {
    color: #9a262f;
    box-shadow: 0 0 8px #9a262f inset;
    animation: red-shadowPulse 1s infinite;
}

#custom-network_traffic{
    /* color:#a3be8c; */
}

/* =================
* right styles
* */

#pulseaudio {
    /* color: #b48ead; */
}

#pulseaudio.muted, #pulseaudio.source-muted {
    color: #443D3B;
    box-shadow: 0 0 8px #857772 inset;
}

#mpris {
    min-width: 100px;
}

#mpris.playing {
    border-color: #CDC2B4;
    box-shadow: 0 0 4px #857772 inset;
}

#mpris.paused {
    color: #A09F9E;
}

#mpris.stopped {
    color: #443D3B;
}

#custom-updates.has-updates{
    box-shadow: 0 0 8px #ffe08e inset;
    animation: yellow-shadowPulse 10s ease-in-out infinite;
}

#custom-keyboard-shortcuts{
    /* color:#d08770; */
}

#temperature {
    /* color: #8fbcbb; */
    box-shadow: 0 0 6px 2px #8fbcbb inset;
}

#temperature.critical {
    background: #bf616a;
    color: #eceff4;
    box-shadow: 0 0 9px 3px #9a262f inset;
    animation: red-shadowPulse 0.5s infinite;
}

/* CPU states */
#cpu.low {
    color: #CDC2B4;
    background: rgba(6, 6, 6, 0.75);
}

#cpu.medium {
    color: #968977;
    background: rgba(84, 76, 74, 0.2);
}

#cpu.high {
    color: #d08770;
    background: rgba(208, 135, 112, 0.2);
    animation: orange-shadowPulse 5s infinite;
}

#cpu.critical {
    color: #bf616a;
    background: rgba(191, 97, 106, 0.2);
    animation: red-shadowPulse 1s infinite;
}

/* Memory states */
#memory.low {
    color: #CDC2B4;
    background: rgba(6, 6, 6, 0.75);
}

#memory.medium {
    color: #968977;
    background: rgba(84, 76, 74, 0.2);
}

#memory.high {
    color: #d08770;
    background: rgba(208, 135, 112, 0.2);
    animation: orange-background-pulse 5s infinite;
}

#memory.critical {
    color: #bf616a;
    background: rgba(191, 97, 106, 0.2);
    animation: red-background-pulse 1s infinite;
}

#idle_inhibitor {
    /* color: #ebcb8b;  */
}

#idle_inhibitor.deactivated { 
    color: #A09F9E; 
}

#idle_inhibitor.activated { 
    /* color: #EAE9E7;  */
    box-shadow: 0 0 8px #f9b58e inset;
    animation: orange-shadowPulse 10s ease-in-out infinite;
}

#clock {
    /* color:#a3be8c; */
}

#tray {
    background: rgba(6, 6, 6, 0.75);
    padding: 2px 10px;
    margin: 4px;
    border: 2px solid #443D3B;
    border-radius: 50px;
}

#tray menu {
    background: rgba(6, 6, 6, 0.95);
    border: 2px solid #443D3B;
}

#custom-power{
    border-style: hidden;
    margin-top:2px;
}
